<!DOCTYPE html>
<html lang="en">
 
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>yHacks2019</title>
 
  <!-- Bootstrap core CSS -->
  <link href="views/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
 
  <!-- Custom styles for this template -->
  <link href="views/css/scrolling-nav.css" rel="stylesheet">
 
</head>
 
<body id="page-top">
 
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow p-3 mb-5" id="mainNav" style="background-color: #00205B;">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">dataSearchApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services">Info</a>
              </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Devpost</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
  <div class="colorbg"style="background-color:#0020A6;height:45vh">
  </div>
 
  <div class="title">
    <h1 style="text-align: center;color:white;font-family: Manrope;">What do your customers say about your company?</h1>
 
  <div class="inputbg bg-white">
      <form action="/result" method="POST" enctype="multipart/form-data">
         
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Keyword*</label>
            <div class="col-sm-10">
              <input type="text" name="keyword" placeholder="Enter keyword(s)">
              <small id="emailHelp" class="form-text" style="color:#00205B;font-weight: 600;">Separate each keyword with a ','</small>
            </div>
          </div>
 
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">From:</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="dateFrom" placeholder="Password">
            </div>
          </div>
 
          <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">To:</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" name="dateTo" placeholder="Password">
              </div>
            </div>
          <div style="height:20px;">
          </div>
         
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-outline-dark" style="font-weight:400;" >Submit</button>
            </div>
          </div>
          <small id="emailHelp" class="form-text text-mute" style="font-weight: 600;">Fields labelled with a * are required.</small>
 
        </form>
             
 
  </div>
</div>
 
  <!-- Footer -->
  <footer class="py-2" style="background-color:  #00205B;">
    <div class="container">
      <p class="m-0 text-center text-white">YHacks 2019</p>
    </div>
    <!-- /.container -->
  </footer>
 
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
 
  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>
  <script src="js/client.js"></script>
 
</body>
 
</html>